<!doctype html>

<head>
<title>{% block title %}{% endblock %} - MyFavShows</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='tvshow.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block script %}{% endblock %}
</head>

<nav>
    <img src="{{ url_for('static', filename='tvshow.png') }}" style="width:30px;margin:6px">
    <h1> <a href="{{ url_for('search.search') }}">
         My<span style="color:#c43d3d">Fav</span>Shows </a>
    </h1>
    <ul style="background: #ffffff;">
        {% if session['user_id'] %}
        <li><span style="color:#377ba8"> {{ session['user_name'].capitalize() }}  <i class="fa fa-user"></i> </span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out <i class="fa fa-sign-out"></i> </a>
            {% else %}
        <li><a href="{{ url_for('auth.register') }}" style="color:#377ba8">Register <i class="fa fa-user-plus"></i></a>
        <li><a href="{{ url_for('auth.login') }}">Sign In <i class="fa fa-sign-in"></i> </a>
            {% endif %}
    </ul>
</nav>

{% block navbar %}
<ul>
    <li><a href="{{ url_for('search.search')}}">Search Show</a></li>
    <li><a href="{{ url_for('search.get_trending')}}">Trending</a></li>
    <li><a href="{{ url_for('search.get_popular')}}">Popular</a></li>
    <li><a href="{{ url_for('search.get_top_rated')}}">Top rated</a></li>
    <li><a href="{{ url_for('blog.index')}}">Blog</a></li>
    <li style="float:right;"><a href="{{ url_for('myfav.get_my_fav')}}">My Favourites</a></li>
    <li style="float:right;"><a href="{{ url_for('about')}}">About</a></li>
</ul>
{% endblock %}

<section class="content">
    <header>
        {% block header %}{% endblock %}
        {% block pagination %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}


    {% block content %}{% endblock %}

    {% block show_results %}
    <hr style="margin:5px">
    {% for show in shows %}
    <article class="result">
        <div class="flex-container">
            <div class="poster" style="flex-grow: 1">
                {% if show.poster_url %}
                <img src="{{ show['poster_url'] }}" style="width:165px;height:250px;float:center" alt="'{{ show.title }}' poster">
                {% else %}
                <img src="https://www.scenebyte.com/images/no_poster.jpg" style="width:165px;height:250px;float:center" alt="No poster available">
                {% endif %}
            </div>

            <div style="flex-grow: 9">

            {% if session['user_id'] and show.id in session['show_ids'] %}
            <a href="{{ url_for('myfav.rm_from_fav',show_id=show.id, name=show.title ) }}" title="Remove '{{ show.title }}' from favourites" class="hearticon">
                <i class="fa fa-heart"></i>
            </a>
            {% else %}
            <a href="{{ url_for('myfav.add_to_fav',show_id=show.id, name=show.title ) }}" title="Add '{{ show.title }}' to favourites" class="hearticon" >
                <i class="fa fa-heart-o"></i>
            </a>
            {% endif %}
            <header>
                <div>
                    {% if show.next_episode_to_air %}
                    <h1> <a href="{{ url_for('myshow.get_my_show', show_id=show.id) }}"> {{ show.title }} </a>
                        <span class="notification"> New Episode Soon! </span> </h1>
                    {% else %}
                    <h1> <a href="{{ url_for('myshow.get_my_show', show_id=show.id) }}"> {{ show.title }} </a> </h1>
                    {% endif %}
                    <div class="about">First aired in {{ show.date }} | {{ show.vote_average }} <i class="fa fa-star gradient-icon"></i></div>
                </div>

            </header>
            <p class="body">{{ show.trunc_overview}}</p>
            </div>
        </div>
    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    {% endblock %}
</section>