{% extends 'base.html' %}

{% block header %}
<h1><a  href="{{ url_for('myshow.get_my_season', show_title=episode.show_title, show_id=episode.show_id, season_number=episode.season_number) }}">{% block title %} {{ episode.show_title }} - Season {{episode.season_number}} {% endblock %}</a></h1>
{{super()}}
{% endblock %}

{% block content %}
<article class="result">
    <div class="flex-container">
        <div class="poster" style="flex-grow: 2">
            {% if episode.poster_url %}
            <img src="{{ episode.poster_url }}" style="width:250px;margin-top:55px" alt="'{{ episode.name }}' poster">
            {% else %}
            <img src="{{ url_for('static', filename='image-not-available.png')}}" style="width:250px;height:141px;margin-top:55px" alt="No poster available">
            {% endif %}
        </div>

        <div style="line-height: 0px; flex-grow: 7">
            <header>
                <div>
                    <h1> Episode {{episode.episode_number}} : {{ episode.name }} </a> </h1>
                    <div class="about">Aired on {{ episode.air_date }} | {{ episode.vote_average }} <i class="fa fa-star gradient-icon"></i> </div>
                </div>

            </header>
            <p class="body" style="margin-top:10px;">{{ episode.overview }}</p>
        </div>
    </div>
</article>
{% endblock %}
