{% extends 'base.html' %}

{% block header %}
<h1><a  href="{{ url_for('myshow.get_my_show',show_id=season.show_id) }}">{% block title %}{{ season.show_title }}{% endblock %}</a></h1>
{{super()}}
{% endblock %}

{% block content %}
<article class="result">
    <div class="flex-container">
        <div class="poster" style="height: 300px;flex-grow: 2">
            {% if season.poster_url %}
            <img src="{{ season.poster_url }}" style="height: 300px;float:center" alt="'{{ season.name }}' poster">
            {% else %}
            <img src="https://www.scenebyte.com/images/no_poster.jpg" style="height: 300px;float:center" alt="No poster available">
            {% endif %}
        </div>

        <div style="flex-grow: 11">
            <header>
                <div>
                    <h1>  {{ season.name }}  </h1>
                    <div class="about">Aired in {{ season.air_date }} | {{ season.episode_count }} episodes </div>
                </div>

            </header>
            <p class="body">{{ season.overview }}</p>
        </div>
    </div>
</article>
{% endblock %}

{% block show_results %}
<header><h1>Episodes' list</h1></header>
{% for episode in season.episodes %}
<article class="result">
    <div style="height:200px" class="flex-container">
        <div class="poster" style="flex-grow: 2">
            {% if episode.poster_url %}
            <img src="{{ episode.poster_url }}" style="width:250px;height:141px;margin-top:30px" alt="'{{ episode.name }}' poster">
            {% else %}
            <img src="{{ url_for('static', filename='image-not-available.png')}}" style="width:250px;height:141px;margin-top:22px" alt="No poster available">
            {% endif %}
        </div>

        <div style="line-height: 0px; flex-grow: 7">
            <header>
                <div>
                    <h1> <a style="text-decoration:none" href="{{ url_for('myshow.get_my_episode', show_title=season.show_title,
                     show_id=season.show_id, season_number=season.season_number, episode_number=episode.episode_number) }}"> {{episode.episode_number}} - {{ episode.name }} </a> </h1>
                    <div class="about">Aired on {{ episode.air_date }} | {{ episode.vote_average }} <i class="fa fa-star gradient-icon"></i> </div>
                </div>

            </header>
            <p class="body" style="margin-top:10px;">{{ episode.trunc_overview }}</p>
        </div>
    </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}

{% endblock %}
