{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Search for a TV Show{% endblock %}</h1>
{{ super() }}
{% endblock %}


{% block navbar %}
<ul>
    <li><a class="active" href="{{ url_for('search.search')}}">Search Show</a></li>
    <li><a href="{{ url_for('search.get_trending')}}">Trending</a></li>
    <li><a href="{{ url_for('search.get_popular')}}">Popular</a></li>
    <li><a href="{{ url_for('search.get_top_rated')}}">Top rated</a></li>
    <li><a href="{{ url_for('blog.index')}}">Blog</a></li>
    <li style="float:right;"><a href="{{ url_for('myfav.get_my_fav')}}">My Favourites</a></li>
    <li style="float:right;"><a href="{{ url_for('about')}}">About</a></li>
</ul>
{% endblock %}


{% block content %}

    <form class="searchbar" method="post">
    <input type="text" placeholder="Type here to do a new search" name="title" id="title" required>
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>


{% if session.get('last_show_name') %}
<header><h1>Because you watched {{ session.get('last_show_name') }}, you will probably like...</h1></header>
{% else %}
<header><h1>Today's Trending</h1></header>
{% endif %}

{% endblock %}