{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Top rated shows{% endblock %}</h1>
{{ super() }}
{% endblock %}

{% block script %}
<script type="text/javascript">
    document.onkeydown = function(e) {
    switch (e.keyCode) {
        case 37:
            if ( {{ current_page }} > 1) {
                window.location.replace("{{ url_for('search.get_top_rated', page=current_page-1) }}");
            };
            break;
        case 39:
            if ( {{ current_page }} < {{ total_pages }}) {
                window.location.replace("{{ url_for('search.get_top_rated', page=current_page+1) }}");
            };
            break;
    }
};
</script>
{% endblock %}

{% block pagination %}
{% if total_pages %}
<div class="pagination">
    {% if current_page > 1 %}
    <a href="{{ url_for('search.get_top_rated', page=current_page-1) }}">❮</a>
    {% endif %}
    <a>{{ current_page }}</a>
    {% if current_page < total_pages %}
    <a href="{{ url_for('search.get_top_rated', page=current_page+1) }}">❯</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block navbar %}
<ul>
    <li><a href="{{ url_for('search.search')}}">Search Show</a></li>
    <li><a href="{{ url_for('search.get_trending')}}">Trending</a></li>
    <li><a href="{{ url_for('search.get_popular')}}">Popular</a></li>
    <li><a class="active" href="{{ url_for('search.get_top_rated')}}">Top rated</a></li>
    <li style="float:right;"><a href="{{ url_for('myfav.get_my_fav')}}">My Favourites</a></li>
    <li style="float:right;"><a href="{{ url_for('about')}}">About</a></li>
</ul>
{% endblock %}

{% block content %}

{% endblock %}