{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}My Favourite Shows{% endblock %}</h1>
{% endblock %}

{% block navbar %}
<ul>
    <li><a href="{{ url_for('search.search')}}">Search Show</a></li>
    <li><a href="{{ url_for('search.get_trending')}}">Trending</a></li>
    <li><a href="{{ url_for('search.get_popular')}}">Popular</a></li>
    <li><a href="{{ url_for('search.get_top_rated')}}">Top rated</a></li>
    <li style="float:right;"><a class="active" href="{{ url_for('myfav.get_my_fav')}}">My Favourites</a></li>
    <li style="float:right;"><a href="{{ url_for('about')}}">About</a></li>
</ul>
{% endblock %}
